{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}

    <div class="container">
    <h1 style="margin-top: 3%">Documents List</h1>

    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>{{ document.description }}</td>
                <td>
                    <button type="button" class="btn btn-primary"  style="width:65px" onclick="location.href='{{ path('documents_show', {'id': document.id}) }}'" >Show</button>
                    <button type="button" class="btn btn-primary" style="width:65px"  onclick="location.href='{{ path('documents_edit', {'id': document.id}) }}'" >Edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{{ path('documents_new') }}'">Create new</button>

{#    <a href="{{ path('documents_new') }}">Create new</a>#}
    </div>
{% endblock %}
